body {
    position: relative;
    background: #FBFAFF !important;
    margin: 0;
    padding: 0;
}

img {
    width: 400px;
}

.date {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 20%;
}

.stname {
    display: grid;
    grid-template-columns: 50% 50%;
}

.bash {

    height: 37px;
    left: calc(50% - 327px/2 - 4px);
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: #240D57;
}

.bashpara {

    height: 15px;
    left: calc(50% - 341px/2 + 3px);
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #828282;
}

.one {

    height: 18px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #240D57;

}

.two {
    height: 16px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #4F4F4F;
}